<launch>
	<!-- Start an object_tracking_2d_ros node using the default settings
	to connect to an OpenNI device (e.g. Kinect). -->

	<node pkg="object_tracking_2d_ros" type="object_tracking_2d_ros" name="object_tracking_2d_ros">
		<!-- EBT TRACKER -->
		<param name="ebt_tracker"         value="irls"/> <!-- name tracker (irls, pf, pf_textureless) -->
			<param name="ebt_num_particle"    value="1"/> <!-- number of particles -->
			<param name="ebt_min_keypoint"    value="20"/> <!-- min number of keypoint matches to start tracking -->
			<param name="ebt_th_cm"           value="0.2"/> <!-- threshold of chamfer matching -->
		<param name="ebt_obj_name"        value="obj_name"/> <!-- name of traget object -->
			<param name="ebt_init_pose"       value="1,0,0,0,0,1,0,0,0,0,1,0.5.0,0,0,0,1"/> <!-- initial pose of object -->
			<param name="ebt_dull_edge"       value="false"/> <!-- consider dull edges -->
			<param name="ebt_sample_step"     value="0.005f"/> <!-- sample step -->
			<!-- <param name="ebt_intrinsic"     value="Intrinsics_normal.xml"/> --> <!-- intrinsic parameters -->
			<!-- <param name="ebt_distortion"    value="Distortion_normal.xml"/> --> <!-- distortion parameters -->

    <param name="ebt_display"     value="true"/> <!-- display results or not -->
    
		<param name="~viewer"       value="true"/> <!-- display results or not -->
		<remap from="~image"        to="/camera/rgb/image_rect"/>
		<remap from="~camera_info"  to="/camera/rgb/camera_info"/>
		<remap from="~marker_array" to="/object_tracking_2d_ros/marker_array"/>
		<remap from="~detections"   to="/object_tracking_2d_ros/detections"/>
	</node>
</launch>
